@using DataAccess.ACTION
@model ACTIONModel

@{
    ViewBag.Title = "Home Page";
}

<br>
<div class="container-fluid">
    <input type="text" name="TEXT_ID" id="TEXT_ID" placeholder="ID" />
    <a type="button" id="Delete" name="Delete" class="btn btn-danger" href="javascript:void(0)">
        <span class="glyphicon glyphicon-tree-deciduous"></span> Delete
    </a>
    <br><br>
    <a type="button" class="btn btn-success" href="@Url.Action("Insert")">
        <span class="glyphicon glyphicon-book"></span> Insert
    </a>
</div>
<br>
<div class="container-fluid">
    <div class="table-responsive table-hover" id="datagrid">
        <table class="table scrollbar" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

    @section scripts {
        <script>
            $(document).ready(function () {
                dataTable = $("div#datagrid table").DataTable({
                    "ajax": {
                        "url": " @Url.Action("Search", "Action")",
                        "type": "post",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "ID" },
                        { "data": "DATA" }
                    ],
                   
                    "dom": 'Bfrtip',
                    "select": true,
                    "buttons": [{
                        text: 'Update',
                        action: function (e, dt, node, config) {
                            var id = dt.row({ selected: true }).data().ID;

                            if (id != 0) {
                                var data = dt.row({ selected: true }).data().DATA;
                                var tag = '';
                                tag = '@Url.Action("Update", "Action")' + '?ID=' + $.toUrlString(id) + '&DATA=' + $.toUrlString(data);
                                window.location.href = tag;
                            } else {
                                window.location.reload(true);
                            }
                        },
                    }],
                })
                //$(".dt-buttons").hide();
                $.toUrlString = function (data) {
                    var nData = "";
                    if (data != undefined && data != null && data != "") {
                        nData = encodeURIComponent(data.toString());
                    }
                    return nData;
                };
            })

            $("#Delete").on('click', function () {
                if ($('#TEXT_ID').val() != null && $('#TEXT_ID').val() != '') {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("SaveDelete", "Action")',
                        data: JSON.stringify({
                            ID: $('#TEXT_ID').val()
                        }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        processData: false,
                        success: function (response) {
                            if (response == true) {
                                swal("บันทึกสำเร็จ", {
                                    icon: "success",
                                }).then((value) => {
                                    window.location.reload(true);
                                });
                            }
                        }
                    })
                } else {
                    alertErr("ใส่ ID ก่อนดิ")
                }
                
            })

           
        </script>

    }
